

@media screen and (min-width: 1700px){
    .main__div-text svg{
        right: -700px;
    }

}

@media screen and (max-width: 1300px){
    .main__div-text svg{
        right: -420px;
    }
}

@media screen and (max-width: 800px){
    .main__div-text svg{
        display: none;
    }
}