@use ".././tools/var" as var;

.section{
    height: 100vh;
    background-color: var.$colorBase;
    &__div-card{
        display: flex;
        height: 100%;
        align-items: center;
        flex-wrap: wrap;
        
    }
}

.card{
    color: #fff;
    background-color: lighten(var.$colorBase,3);
    height: 350px;
    width: 300px;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    flex-grow: 1;
    &__icon{
        font-size: 4em;
    }
    &__title{
        font-size: 2em;
    }
    &__text{
        text-align: center;
        opacity: .9;
    }
}