html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

#app {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 77px;
  position: relative;
  z-index: 100;
}
.header__flex-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__logo {
  height: 50%;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__link {
  color: white;
  font-size: 1.5em;
  font-weight: 1000;
  padding: 5px;
  text-decoration: none;
  margin: 10px;
}
.header__link:nth-child(3) {
  font-weight: 1000;
  color: #111;
  background-color: white;
  border-radius: 9px;
  padding: 5px 10px;
}
.header__link:nth-child(3):hover {
  text-decoration: none;
  background-color: #1eac1e;
  color: #fff;
}
.header__link:hover {
  text-decoration: underline;
}

.main {
  margin-top: -77px;
}
.main__banner {
  background-color: #111;
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.main__banner-svg {
  position: absolute;
  bottom: -65px;
  left: 0;
  width: 60%;
}
.main__div-text {
  background-color: white;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__div-text svg {
  position: absolute;
  transform: rotate(270deg);
  right: -550px;
}
.main__texth1 {
  font-size: 3em;
  font-weight: 1000;
}
.main__textp {
  font-size: 1.4em;
  margin-left: -70px;
}
.main__img {
  width: 50%;
  position: relative;
  z-index: 60;
  height: 750px;
}

.section {
  height: 100vh;
  background-color: #111;
}
.section__div-card {
  display: flex;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  color: #fff;
  background-color: #191919;
  height: 350px;
  width: 300px;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  flex-grow: 1;
}
.card__icon {
  font-size: 4em;
}
.card__title {
  font-size: 2em;
}
.card__text {
  text-align: center;
  opacity: 0.9;
}

.contact {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact__svg {
  position: absolute;
  top: 0;
}
.contact__img {
  position: relative;
  z-index: 10;
  width: 50%;
}
.contact__svg2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
}

.form {
  width: 50%;
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form__input {
  font-size: 1em;
  background-color: #fafafa;
  width: 45%;
  height: 45px;
  margin: 20px 10px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #111;
  border-radius: 0;
}
.form__input:focus {
  outline: none;
}
.form__input:nth-child(3) {
  width: 93%;
}
.form__button {
  border: none;
  background-color: #1eac1e;
  color: #fff;
  font-size: 1.3em;
  padding: 15px;
  border-radius: 7px;
  cursor: pointer;
}
.form__button:focus {
  outline: none;
}
.form__button:hover {
  background-color: #168116;
}

@media screen and (min-width: 1700px) {
  .main__div-text svg {
    right: -700px;
  }
}
@media screen and (max-width: 1300px) {
  .main__div-text svg {
    right: -420px;
  }
}
@media screen and (max-width: 800px) {
  .main__div-text svg {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header {
    height: 100px;
  }
  .header__flex-container {
    flex-direction: column;
  }
  .header__logo {
    height: 50%;
    margin: 10px 0;
  }
  .header__link {
    color: #000;
    margin: 0 10px;
  }
  .header__link:last-child {
    padding: 5px;
    color: #fff;
    background-color: #1eac1e;
  }
  .header__link:last-child:hover {
    background-color: #168116;
  }

  .main {
    margin-top: -100px;
  }
  .main__div-text {
    width: 100%;
  }
  .main__img {
    display: none;
  }

  .card {
    width: 100%;
    background-color: #111;
    height: auto;
    border: none;
    border-radius: 0;
    margin: 0;
  }
  .card__icon {
    font-size: 3em;
  }
  .card__title {
    font-size: 1.5em;
  }

  .contact {
    flex-direction: column;
  }
  .contact__img {
    width: 40%;
  }

  .form {
    width: 100%;
    height: 80%;
    align-items: flex-start;
  }
  .form__input {
    height: 70px;
    font-size: 1em;
  }
}
@media screen and (max-width: 800px) {
  .form {
    align-items: flex-start;
  }
  .form__input {
    width: 43%;
  }
}

/*# sourceMappingURL=style.css.map */
